Source: wirephone-monit-config
Section: config
Priority: extra
Maintainer: Indicium SRL <info@indicium.com.ar>
Build-Depends: debhelper (>= 4.2.0)
Standards-Version: 3.8.0

Package: wirephone-monit-config
Architecture: all
Depends: ${misc:Depends}, monit, freeswitch, freeswitch-sysv-init 
Description: Monit Server config
 Monit configuration and other monitoring files. 
