Source: wirephone-polycom-fw
Section: config
Priority: extra
Maintainer: Indicium SRL <info@indicium.com.ar>
Build-Depends: debhelper (>= 4.2.0)
Standards-Version: 3.8.0

Package: wirephone-polycom-fw
Architecture: all
Depends: ${misc:Depends}, python-wirephone | python-wireportalbackend
Description: Firmware files for polycom upgrades
 Firmware files for polycom upgrades. 
