Source: wirephone-backups
Section: config
Priority: extra
Maintainer: Indicium SRL <info@indicium.com.ar>
Build-Depends: debhelper (>= 4.2.0)
Standards-Version: 3.8.0

Package: wirephone-monit-config
Architecture: all
Depends: ${misc:Depends}, rsync
Description: Monit Server config
 Scripts to perform Wirephone-suite backups of databases and files
