Source: wirephone-munin-config
Section: config
Priority: extra
Maintainer: Indicium SRL <info@indicium.com.ar>
Build-Depends: debhelper (>= 4.2.0)
Standards-Version: 3.8.0

Package: wirephone-munin-config
Architecture: all
Depends: ${misc:Depends}, munin-node
Description: Wirephone-suite Nagios configuration
 Munin client Wirephone Custom Configuration files.
