Source: wirephone-provisioning-default-templates
Section: config
Priority: extra
Maintainer: Indicium SRL <info@indicium.com.ar>
Build-Depends: debhelper (>= 4.2.0)
Standards-Version: 3.8.0

Package: wirephone-provisioning-default-templates
Architecture: all
Depends: ${misc:Depends}, python-wireportalbackend 
Description: Default template files for provisioning phones
 Default template files for provisioning phones. 
